body{
    max-width:1080px;
    margin:auto;
}

#main{
    display:flex;
    flex-wrap:wrap;
    border-style:solid;
    border-width: 0px 1px 1px 1px;
    align-self:center;
}

.emptyCell{
    display:flex;
    height:50px;
    width: 50px;
    text-align:center;
    justify-content: center;
    z-index:-1;
}

.wallCell{
    background:black;
    height:50px;
    width: 50px;
}

.storageLocation{
    position:absolute;
    z-index:-1;
    background:pink;
    height:25px;
    width: 25px;
    border-style:hidden;
    border-radius:25px;
    align-self:center;
}

#player{
    height: 25px;
    width: 25px;
    border-style:hidden;
    border-radius: 25px;
    background:red;
    align-self:center;
}

#message{
    height: 50px;
    border-style: solid;
    text-align:center;
    line-height:10px;
    border-width:1px 1px 0px 1px;
}

h1{
    align-self:center;
    vertical-align:center;
}

.crate{
    position:aboslute;
    background:brown;
    height:45px;
    width: 45px;
    text-align:center;
    justify-content: center;
    align-self:center;
}